<%-include('includes/head'); %> <%-include('includes/carousel'); %>

<h1 class="heading">Music</h1>



<!-- <div class="row">
    <% for (musicVideo in musicVideos){ %>
  <div class="col s12 m6 l3">
    <div class="video-container">
      <iframe
        width="853"
        height="480"
        src=""
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <% } %>
</div> -->

<%-include('includes/footer'); %>
